@import "../variables";
@import "../mediaQuery";

.inventory-landing-page {
  .inventory-topbar {
    border-bottom: 1px solid $box-shadow-color;
    min-height: 3em;
    padding: 0.5em;
    background: aliceblue;
  }
  .body-section {
    .inventory-list {
      margin: 0.5em 2em;
      .list-inventories {
        border: 1px solid $box-shadow-color;
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;

          .table-header {
            background: aliceblue;
          }
          .no-inventories {
            padding: 1em;
          }
          .update-button {
            margin-right: 1em;
          }
          .delete-button {
            margin-right: 1em;
          }
          td {
            padding: 0.7em;
          }
          th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
        }
      }
      .create-button {
        margin-top: 1em;
        background: #00C851;
        color: white;
      }
    }
  }
}